.form-register-container{
    background-color: var(--primary-color);
    padding:1rem;
    margin: 1rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: .75rem;
    font-size: 14px;

    span{
        color: crimson;
    }
    
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(50%); /* Cambia los colores del icono */
        cursor: pointer;
    }
}

.input-group label{
    font-weight: 600;
    font-size:12px;
    color: var(--text-color);
}

.input-group input, .input-group textarea, .input-group select{
    padding: 10px 16px;
    border: 1px solid antiquewhite;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    background-color: white;
}

.form-register-container button{
    padding: .5rem 1rem;
    color: var(--primary-color);
    background-color: var(--text-color);
    border: none;
    font-weight: 600;
    outline: none;
    border-radius: 4px;
}

.form-container button:hover, .form-register-container button:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.register-container{
    width: 100%;
}

.register-title{
    padding-top: 50px;
    padding-left: 1.25rem;
}


@media screen and (width > 1024px){
    .register-container{
        max-width: 700px;
    }
}