.modal-overlay{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    opacity: 0;
    transition: opacity .3s ease-in-out;

    animation: showIn .3s ease-in-out forwards;

    .modal-content{
        background-color: var(--primary-color) ;
        color: whitesmoke;
        border-radius: 20px;
        width: 450px;
        transition: all .3s ease-in-out;
        padding: 1rem;
        margin: 1.5rem;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        max-width: 500px;
        width: 100%;

        /* Animación */

        opacity: 0;
        transform: translateY(-30px);
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;

        animation: fadeIn .3s ease-in-out forwards; /* Creamos una animación la que llamamos como queremos "fadeIn" y forwards para que lo haga solo una vez */


        .modal-header{
            font-size: 1.5rem;
            padding-bottom: .25rem;
            border-bottom: 1px solid #ccc;
            margin-bottom: 1rem;
        }

        /* .modal-footer{
            display: flex;
            gap:1rem;
            justify-content: right;
            padding-top: .5rem;

            
        } */
    }
    
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showIn{
    to{
        opacity: 1;
    } /* No es necesario el from sino que toma su estado definido en la clase */
}